<aside id="sidebar" class="bg-dark">
    <h2 class="border-right p-3 text-light">Gifs App</h2>
    <hr class="text-light" />
    <nav>
        <ul class="list-group px-3">
            <li class="list-group-item list-group-item-action" role="button">
                Dashboard
            </li>
        </ul>
    </nav>
</aside>
<main class="container p-3">
    <nav>
        <h2>Buscar</h2>
        <input type="text" class="form-control" placeholder="Buscar Gifs..." />
        <hr />
    </nav>

    <article>
        <section>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere
                blanditiis odio ipsa quas, quis mollitia? Eveniet aspernatur
                esse cupiditate eligendi sint animi ratione? Voluptatum illum
                fugiat vero pariatur, atque in!
            </p>
        </section>
    </article>
</main>
