<aside id="sidebar" class="bg-dark">
    <h2 class="border-right p-3 pb-0 text-light">Gifs App</h2>
    <hr class="text-light" />
    <nav>
        <ul class="list-group px-3">
            <li
                class="list-group-item list-group-item-action"
                role="button"
                *ngFor="let historialItem of historial"
                (click)="buscar(historialItem)"
            >
                <!-- titlecase : pipe de Angular -->
                {{ historialItem | titlecase }}
            </li>
        </ul>
    </nav>
</aside>
