/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100vh;
}

aside,
main {
    height: 100vh;
    min-height: 100vh;
}

main {
    min-width: 70vw;
}

aside {
    min-width: 30vw;
}

ul {
    list-style: none;
}

.card {
    width: 30%;
    max-width: 30%;
}
